@import "utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Google-Sans";
  src: url("/fonts/GoogleSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Google-Sans";
  src: url("/fonts/GoogleSans-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Google-Sans";
  src: url("/fonts/GoogleSans-Bold.woff2");
  font-weight: 700;
}

@layer base {
  body {
    @apply bg-secondary-200 font-google text-white;
  }
}

@layer components {
  .blue-btn {
    @apply bg-primary-100 rounded-md px-6 flex-none py-3 outline-none hover:bg-primary/90 transition-colors;
  }

  .input {
    @apply outline-none rounded-md border border-secondary-100 px-4 py-3 bg-transparent w-full;
  }

  .dialog-card {
    @apply border-secondary-400 bg-secondary-300 rounded-2xl border-2 px-7 py-5;
  }

  .menu-item {
    @apply flex cursor-pointer items-center space-x-2 rounded p-3 text-sm hover:bg-secondary-400/50 transition-colors;
  }
}
